.trackinfo-container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    border: 2px solid var(--silver);
    border-radius: 5px;
    padding: 1rem;

    .trackinfo__name, .trackinfo__size, .trackinfo__type, .trackinfo__length {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        padding-right: 1rem;
        overflow: hidden;
    }
}